
@media screen and (max-width: 700px) {

    .header img {
        width: 125px;
        height: 110px;
    }

    .sectionOne img {
        width: 100px;
        height: 65px;
    }

    .sectionTwo img {
        width: 120px;
        height: 90px;
    }

    .footer img {
        width: 50px;
        height: 60px;
        margin-right: 2%;
    }

    .footerText {
        width: auto;
        font-size: 10px;
        padding: 2%;
    }

    input {
        font-size: 8px;
        height: 10px;
    }

    .button a{
        text-transform: none;
    }

    .headText{
        margin-left: 2%;
    }

    .headText p{
        font-size: 1em;
        width: auto;
    }

    p{
        width: auto;
        font-size: 0.6em;
        line-height: 1em;
        padding: 20px;

    }
}
